# --- 编译指令 ---
CompileFlags:
    CompilationDatabase: build

    FallbackFlags:
        - -std=c++23
        - -Wall
        - -Wextra
        - -I./include
        - -I./build


    Remove:
        - -mno-direct-extern-access

# --- 索引编制 ---
Index:
    Background: Build
    StandardLibrary: Yes
    External: Yes

# --- 代码补全 ---
Completion:
    # 获取来自所有作用域中的符号
    AllScopes: Yes

    InsertIncludes: Auto

    # Snippets: Yes

# --- 诊断与静态分析 ---
Diagnostics:
    ClangTidy:
        Add:
            - modernize-*
            - readability-*
            - performance-*
            - bugprone-*
            - cppcoreguidelines-*
        Remove:
            - readability-magic-numbers

    UnusedIncludes: Yes
    MissingIncludes: Yes

    Suppress:
        - unknown-argument

InlayHints:
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
    Designators: Yes

Hover:
    ShowAKA: Yes