
Checks: >
    -*,
    bugprone-*,
    cert-*,
    cppcoreguidelines-*,
    google-*,
    llvm-*,
    misc-*,
    modernize-*,
    performance-*,
    protability-*,
    readabilitiy-*,


HeaderFilterRegex: ".*"