# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


3rdparty/build/
3rdparty/source/
3rdparty/logs/

3rdparty/magic_enum/
3rdparty/libpqxx/
3rdparty/spdlog/
3rdparty/nlohmann_json
3rdparty/fmt/